
/* @font-face {
    font-family: Legothick;
    src: url(Legothick.ttf);
} */

.title {
    text-shadow: 2px 2px 4px #171614;
    color:#f6ed36;
    font-family: Tahoma, sans-serif;
    margin-left: 30px;
    

}

/* 
C:\Users\ae062\Desktop\homework\ClickyFigs\src\Components\Title\Title.css
C:\Users\ae062\Desktop\homework\ClickyFigs\public\Images\legothick\Legothick\Legothick.woff */